.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.result {
    background: hsl(252, 100%, 67%);
    width: 375px;
    flex: 50%;
}

.summary {
    flex: 50%;
    width: 375px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }