.attribution { 
    font-size: 11px; text-align: center; 
    font-family: "Outfit";
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: #D6E1F0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    flex-shrink: 0;
    flex: 0 0 330px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}


.qr img {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: flex;
    border-radius: 15px;
}

p {
    font-family: "Outfit";
    text-align: center;
    padding: 0px 25px 0px 25px;
}

#header {
    font-weight: 700;
    color: #26324B;
    font-size: 22px;
}

#text {
    font-weight: 400;
    color:#7b879d;
    font-size: 15px;
}
